body {
  margin: 0;
  font-family: 'Webly Sleek UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainHeader .infoSection .txt {
  overflow: hidden;
}

#mainImage {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 500px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 100%;
}

.cards {
  margin-left: 150px;
}

.writingSection {
  margin: 0 auto;
  padding: 15px;
  margin-top: 35px;
  max-width: 600px;
  max-height: 660px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-control {
  width: 99%;
  height: 250px;
}

#outlined-basic {
  height: 5px;
  width: 251px;
}

.text-danger {
  color: red;
}

.buttons {
  width: 100%;
}

img {
  filter: brightness(50%);
}

label {
  margin-bottom: 10px;
}

.writingSection div {
  margin-bottom: 10px;
}

.light {
  .inputTexts input {
    background: white;
  }

  .writingSection {
    background-color: #121212;
  }

  input,
  textarea {
    color: #121212;
    background: #121212;
  }

  #message {
    background-color: white;
  }

  label {
    color: white
  }
}

.dark {
  .inputTexts input {
    background: #121212;
  }

  .writingSection {
    background-color: white;
  }

  input,
  textarea {
    color: white;
    background: white;
  }

  #message {
    background-color: #121212;
  }

  label {
    color: #121212
  }
}

@media only screen and (max-width: 785px) {
  .writingSection div {
    display: grid;
    grid-template-rows: auto auto;
  }
}