* {
  overflow-x: hidden;
  margin: 0;
}

.photos {
  max-width: 325px;
  max-height: 300px;
}

#mainImage {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 500px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 100%;
}
