#mainHeader {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  max-height: 60px;
  padding-left: 70px;
  padding-bottom: 60px;

  .linksDiv {
    width: 524px;
    max-height: 60px;
    overflow: hidden;

    .linksSection {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .infoSection {
    display: inline-block;

    .info {
      text-decoration: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      padding-bottom: 5px;
      display: inline-block;
    }

    .txt {
      font-size: 15px;
      padding-bottom: 13px;
    }
  }
}

.content {
  margin-top: 5px;
}

.links {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#title {
  margin-left: 16px;
  margin-right: 15px;
}

.css-1boa1lb-MuiGrid-root {
  margin-top: 32px;
}

.css-gj1fbr-MuiGrid-root {
  margin: 0 !important;
}

.sticky {
  animation: changingColor 0.3s forwards !important;
}

.default {
  animation: defaultColor 0.3s forwards;
}

@keyframes changingColor {
  from {
    background: transparent;
  }
  to {
    background: #333;
  }
}

@keyframes defaultColor {
  from {
    background: #333;
  }
  to {
    background: transparent;
  }
}

.light {
  background-color: black;
  color: white;

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: black !important;
    color: white;
  }
  h1,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white !important;
  }

  footer {
    .informations {
      color: white !important;
    }
  }
}

.dark {
  background-color: white;
  color: black;

  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: white !important;
    color: black;
  }
  h1,
  h3,
  h4,
  h5,
  h6,
  p{
    color: black !important;
  }

  footer {
    background: #1a1a1a;

    .informations {
      color: white !important;
    }
  }
}

.langPhotos {
  max-width: 25px;
  max-height: 25px;
  filter: brightness(100%);
  }

.css-zqcytf-MuiButtonGroup-root {
  position: relative;
  top: 6px;
  left: 25px;
  overflow: hidden;
}

.dark {
  .languageSelector {
    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      background: #1a1a1a !important;
    }
  }
}

h4 {
  overflow: hidden;
}

.drawer {
  margin-top: 45px;
  
  .css-i4bv87-MuiSvgIcon-root {
    color: white
  }

  p {
    color: black !important;
  }
}

#drawerItmes {
  text-align: center;

  span {
    display: inline-flex;
  }

  .linksSection {
    height: 60px;
    padding-bottom: 15px;
  }

  .infoSection {
    padding-top: 10px;
    margin-right: 36px;
    height: 60px;
    display: flex;
  }

  a {
    margin: 0 10px;
    color: black;
  }
}

@media only screen and (max-width: 1200px) {
  #navigationButton {
    top: -50px !important;
    left: 50% !important;
  }

  .css-k3f0g4-MuiGrid-root {
    flex: 1 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
  footer {  
    white-space: nowrap;
    overflow-x: visible;

    .links {
      display: inline-block;
      margin-right: 10px;
    } 
  }
}


@media only screen and (max-width: 1054px) {
  .css-k3f0g4-MuiGrid-root {
    iframe {
      max-width: 90%;
    }
  }
}
