#mainHeader {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  max-height: 35px;
  padding-left: 70px;
  padding-bottom: 50px;

  .linksDiv {
    width: 450px;

    .linksSection {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

.content {
  margin-top: 5px;
}

.links {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#title {
  margin-left: 16px;
}

.css-1boa1lb-MuiGrid-root {
  margin-top: 32px;
}

.sticky {
  animation: changingColor 0.3s forwards;
}

.default {
  animation: defaultColor 0.3s forwards;
}

@keyframes changingColor {
  from {
    background: transparent;
  }
  to {
    background: #333;
  }
}

@keyframes defaultColor {
  from {
    background: #333;
  }
  to {
    background: transparent;
  }
}
