#mainHeader {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  max-height: 60px;
  padding-left: 70px;
  padding-bottom: 50px;

  .linksDiv {
    width: 450px;
    max-height: 60px;
    overflow: hidden;

    .linksSection {
      display: inline-block;
      position: relative;
      bottom: 40px;
      margin-left: 15px;
    }
  }

  .infoSection {
    display: inline-block;

    .info {
      text-decoration: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      padding-bottom: 5px;
      display: inline-block;
    }

    .txt {
      font-size: 15px;
      padding-bottom: 13px;
    }
  }
}

.content {
  margin-top: 5px;
}

.links {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#title {
  margin-left: 16px;
}

.css-1boa1lb-MuiGrid-root {
  margin-top: 32px;
}

.css-gj1fbr-MuiGrid-root {
  padding: 0 !important;
  margin: 0 !important;
}

.sticky {
  animation: changingColor 0.3s forwards;
}

.default {
  animation: defaultColor 0.3s forwards;
}

@keyframes changingColor {
  from {
    background: transparent;
  }
  to {
    background: #333;
  }
}

@keyframes defaultColor {
  from {
    background: #333;
  }
  to {
    background: transparent;
  }
}
