* {
  font-family: Arial, Helvetica, sans-serif;
}

#mainHeader .infoSection .txt {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
}

#sc1 {
  overflow-y: hidden;
}

#mainDiv {
  max-width: 500px;
  text-align: center;
  margin: 250px auto;

  .inputs {
    width: 100%;
  }
}

#mainImage {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 500px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 100%;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

#sc2 {
  width: 100%;
  height: 120px;
  background-color: #353535;
  overflow: hidden;
}

.texts {
  color: white;
  text-align: center;
  margin-top: 17px;
}

#sc3 {
  padding-top: 10px;
  margin: 0 auto;

  #aboutHotel {
    max-width: 852px !important;

    div {
      justify-content: center;
      align-items: center;
    }
  }

  div {
    min-width: 406px;
  }

  .texts {
    font-family: 'Webly Sleek UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji' !important;
    text-align: left;
  }

  h4 {
    text-align: center;
  }

  img {
    max-width: 410px;
    max-height: 600px;
  }
}

@media (max-width: 400px) {
  #sc3 {
    max-width: max-content;
  }
}

#sc4 {
  #backgroundImg1 {
    background-image: url('/images/restaurant3.jpg');
    margin: 0;
  }

  #backgroundImg2 {
    background-image: url('/images/restaurant3.jpg');
    margin: 0;
  }

  #backgroundImg3 {
    background-image: url('/images/restaurant3.jpg');
    margin: 0;
  }

  #backgroundImg4 {
    background-image: url('/images/restaurant3.jpg');
    margin: 0;
  }

  span {
    overflow: hidden;
    background-size: 1000px;
    background-repeat: no-repeat;
    display: block;
    width: 900px;
    height: 700px;
    object-fit: cover;
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    animation: zoom 10s ease-in-out infinite;

    div {
      color: white;
      padding-top: 550px;
      padding-left: 50px;
    }
  }

  .css-1osj8n2-MuiGrid-root {
    overflow: hidden;
  }

  .css-mhc70k-MuiGrid-root {
    margin: 0px;
  }

  @keyframes zoom {
    0% {
      transform: scale(1.1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1.1);
    }
  }
}

.links {
  color: black;

  #linkToRooms {
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding-top: 10px;

    p {
      margin-top: 0;
      color: white;
      text-align: center;
      font-family: 'Webly Sleek UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    }
  }
}

.light {
  #linkToRooms {
    background-color: #353535;
    ;

    p {
      color: white;
      font-weight: 700;
    }
  }
}

#sc5 {
  height: 700px;
  background-color: black;
  padding-top: 15px;

  #backgroundImg {
    max-width: 800px;
    height: auto;
    background-image: url("/images/reseption15.jpg");
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  p {
    color: white;
    font-weight: 600;
  }

  #about {
    align-items: center;
  }
}

.light {
  #linkToRooms {
    background-color: #353535;
  }
}

.dark {
  #linkToRooms {
    background-color: white;

    p {
      color: black
    }
  }
}

img {
  filter: brightness(50%);
}

@media only screen and (max-width: 1860px) {
  #mainHeader .css-gj1fbr-MuiGrid-root {
    margin-left: -100px !important;
  }

  .title {
    max-width: 530px;
  }
}

.closing .info,
.txt {
  overflow-x: hidden;
  color: black;
}

@media (min-width: 1px) {
  .css-nzinn5-MuiContainer-root {
    margin: 0 auto;
    max-width: 5000px;
  }
}



.image-grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);

  .title {
    font-weight: 500;
    font-size: 30px;
  }
}

.responsive-image {
  width: 100%;
  object-fit: cover;
  height: 550px;
  animation: zoom 11s infinite alternate;
  transform-origin: top left;
}

.image-text {
  position: relative;
  bottom: 150px;
  left: 0;
  width: 100%;
  color: #fff;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;

}

.image-container {
  height: 550px;
  overflow: hidden;
}

.photos {
  max-width: 325px;
  max-height: 300px;
}

img {
  filter: brightness(50%);
}