body {
  margin: 0;
}

#mainHeader .infoSection .txt {
  overflow: hidden;
}

#mainImage {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 500px;
  width: 100%;
}

.centered {
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  color: white !important;
  font-family: sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 100%;
}

.cardsDiv {
  margin-left: 150px;

  img {
    margin: auto;
  }
}

img {
  filter: brightness(50%);
}

.roomsTitle {
  text-align: center;
  padding: 0;
}

.cards {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
}

.light {
  .cards {
    background-color: #1a1a1a;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  }

  .cardsDiv h3 {
    margin: 15px auto;
    color: #fff;
  }
}

.dark {
  .cards {
    background-color: white;
    border: rgba(0, 0, 0, 0.9) 2px solid;
    border-radius: 5px;
  }

  .cardsDiv h3 {
    margin: 15px auto;
    color: rgba(0, 0, 0, 0.87);
  }
}

@media only screen and (max-width: 403px) {
  .css-mhc70k-MuiGrid-root4 {
    display: block;
  }
}