* {
  overflow-x: hidden;
}

body {
  margin: 0;
}

#mainImage {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 500px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 100%;
}

.cards {
  margin-left: 150px;
}

img {
  filter: brightness(50%);
}

.css-1oqqzyl-MuiContainer-root {
  margin-top: 10px;
}

.css-1osj8n2-MuiGrid-root {
  margin-top: 10px;
  margin-bottom: 10px;
}

.css-1rwjz6-MuiCardActions-root,
.css-46bh2p-MuiCardContent-root {
  padding: 0;
}
